

html,body {
  margin: 0;
}
.background{
  background-image: url("../images/fake.jpg");

 



  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  top: 0;
  z-index: 0;
  height: 1000px;
  margin-top: -300px;
  width: 100%;
  position: absolute;

}
.navBar{
  z-index:1
}

nav h1{
  color: white;
  font-weight: 200;
  font-size: 20px;
}
.quote{
  color:WHITE;
  font-size: 40px;
  font-weight: 200;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 5%;
  right: 10%;
  text-align: center

};


.linkContainer{
  font-weight: 100;
}


#About{
  height: 700px;
  top: 650px;
  position: relative;


}
.cus-div{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;

}
#skew1{
  z-index: 10;
  background: white;

}
.cus-div:after{
  position: absolute;
  width:100%;
  height:100%;
  background: inherit;
  z-index: -1;
  bottom: 0;
  content: '';


}
#skew1:after{
  transform-origin: left bottom ;
  transform: skewY(-5deg);
}
.content{
  font-weight: bold;
 margin-left: 300px;
  text-align: center;
  overflow: hidden;
  display: block;
  height: auto;

}
.cardContainer{
  background: red;
  width: 100%
}

.navColor{
  color: white !important;
  
}